/* Background Gradient */
body
{
  background: #007bff;
  background: linear-gradient(to right, rgb(225, 225, 225), rgb(150, 150, 150));
}

/* Sticky Footer */
html,
body
{
  height: 100%;
}

#wrapper
{
  flex: 1 0 auto;
}

#sticky-footer
{
  flex-shrink: none;
}

/* Custom components */
.core-cont
{
    background-color: lightgray;
    border-style: solid;
    border-width: 2px;
    margin-top: 8px;
    padding: 24px;
    overflow: hidden;
}
